.movieItem {
  background-color: #000;
  display: flex;
  height: 300vh;
  .movieContainer {
    width: 100%;
    position: relative;

    .back {
      width: 100%;
      height: 90vh;
      object-fit: cover;
    }

    .content {
      width: 100%;
      position: absolute;
      display: flex;
      .leftPart {
        flex: 1;
        display: flex;
        flex-direction: column;
        padding: 100px 50px 0;

        .leftContent {
          flex: 1;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;

          .firstLeftContent {
            display: flex;
            align-items: center;

            h1 {
              color: white;
              font-family: gothic;
              font-size: 40px;
              margin-bottom: 5px;
            }
            h3 {
              margin-left: 20px;
              font-family: gothic;
              color: white;
            }
          }

          .rankContainer {
            flex: 1;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img {
              width: 70px;
              height: 40px;
            }
            h3 {
              margin-left: 20px;
              font-family: gothic;
              color: white;
            }
          }
        }

        .descContent {
          flex: 1;
          margin-bottom: 30px;
          display: flex;
          flex-direction: column;

          h2 {
            font-family: yekan;
            color: rgb(255, 153, 0);
            text-align: right;
            font-size: 23px;
          }
          h3 {
            font-family: yekan;
            color: rgb(192, 192, 192);
            text-indent: 30px;
            direction: rtl;
            font-size: 17px;
          }
        }

        .moreContainer {
          flex: 1;
          margin-bottom: 30px;
          display: flex;
          direction: rtl;
          .more {
            flex: 1;
            display: flex;
            flex-direction: column;
            .moreContent {
              display: flex;
              margin: 10px 0;
              .title {
                color: rgb(143, 143, 143);
                font-size: 17px;
                font-family: yekan;
                margin-left: 5px;
              }
              .contentTxt {
                color: #fff;
                font-size: 17px;
                font-family: yekan;
              }
            }
          }
        }

        .seperator {
          width: 100%;
          height: 1px;
          background-color: gray;
          margin-bottom: 10px;
        }

        .trailerContainer {
          width: 100%;
          align-self: center;
          margin: 10px 0;
          border-radius: 10px;
          overflow: hidden;
        }

        .downloadBox {
          display: flex;
          flex-direction: column;
          width: 100%;
          height: 40vh;
          align-self: center;
          margin-top: 10px;
          border-radius: 10px;
          overflow-y: auto;
          background-color: rgb(121, 121, 121);
          justify-content: space-between;

          .seasonContainer  {
            flex: 1;
            background-color: rgb(80, 17, 17);
            margin: 10px;
            border-radius: 10px;
            color: white;
            padding: 5px;

            .episode {
              display: flex;
              height: auto;
              flex-direction: column;
              justify-content: center;
              text-align: right;
              padding: 8px;
              color: white;
              text-decoration: none;
            }
          }
        }
      }

      .rightPart {
        flex: 0.45;
      }
    }

    .mask {
      width: 100%;
      height: 100%;
      position: absolute;
      backdrop-filter: blur(10px);
      background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.6) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }
  }
}
